API_ID=20650066
API_HASH=7a4f8ed638f1369a40693574c2835217
BOT_TOKEN=8007775153:AAFGtvkherSCW7MOgmg9bmF9tY2DmdSmTMQ
MONGO_DB_URI=mongodb+srv://anjlnobita:tCUPU9Ty1FFvLumv@cluster0.appf0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002372313866
OWNER_ID=6777860063
STRING_SESSION2=BQE7GFIAjyufo3jfeH4mXFHU-5DLdPa_FAQxHRVlQGyUiHRNWw567qcMgPkm7YfDq12wm4g7TrEyYFmnELhxRf_jPpUgp0bOHxsz_wFMPGYi5_V2Q0wUmQSXDBRbyxSIsbe8Z8cMO4VLubh6_rPBqRYOL4A5X7606lZYzl806iHBkRkEqBRyy1iEYg3aF9wHdhqY9LTB1Dqc8PUEcn78n9pXKsovxAO9Ve4EkPhs7twhYRlVRriM_nu-E9ywMzxox6tDgK9B7yQwHHv5tBsX_4kvpCjTFDrUY2Fggpjq_uF2KK72p5CrpcNyh3_Hw6tvsf_YVn9rFrs1aQc98wQR8Pd7oznNQQAAAAHJCOD2AA
STRING_SESSION=BQE7GFIAC3u6EQorvcLsK8PLk9vk3YOa8po_Uza3U_nIrojrcrW5WEyx_KRkbMcDGTYyzqcjlE22RlQWN9kAXS_W74R-Nhe0j6FMPK0wFn1kGpfyW3u47YxeY6PA9HD7KLV24r2yYxwfIeHlzN-pRbMT0mJvcwu2TjqXTtzufwX4gbAiESejOC-FlP_iYy5zrRCleDY5FMnsOvyxDwEHG0uBr__O8uiPhB_MczW9cRZWASEZ3d8vUjI80h0PdNIZRCxayweL8byG1_-NiRiEMjGR0qwvTU7zqkHudQtZ7X3VHdDm79oNZ9TIQ-iQtFn6YPpuThsa6Rgy2Ur8YyD2nR7xSK--LQAAAAGn_jFfAA